.container
  = bootstrap_form_for @comment, url: backend_comment_path(@comment), method: :patch do |f|
    .form-select
      = f.select :ticket_id, options_for_select((Ticket.all).map{|u| [u.message, u.id]}, f.object.ticket_id)
    .form-group
      = f.text_field :message, class: "form-control"


    = f.submit "Bearbeiten", class: "btn btn-primary float-right"